@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
}

h1 {
  text-align: center;
  color: #b5b5b5;
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
}

h2 {
  text-align: center;
  color: #b5b5b5;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
